.skills {
  width: 90%;
  height: 412px;
  border-radius: 20px;
  background-color: #01091cd0;
  text-align: center;
  margin: auto;

  filter: drop-shadow(0px 4px 4px #00000040);
}

.skills h1 {
  font-size: 66px;
  font-weight: 700;
  padding-top: 22px;
  margin: 0;
}

.skills p {
  font-size: 29px;
  line-height: 35px;
  margin: 0 0 40px 0;
}

.imagesSkill {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 68px;
}

.imagesSkill img {
  transition-duration: 200ms;
}

.imagesSkill img:hover {
  transform: scale(1.2);
  transition-duration: 200ms;
}